/* buttons */
.languageButton {
  font-size: 1.1vw;
  font-weight: bold;
  cursor: pointer;
}
.languageButton:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}
.roundedButton {
  border-radius: 10px;
}
.buttonCentered {
  text-align: center;
}
.buttonClicked {
  font-weight: bold;
  cursor: pointer;
}

.buttonClicked:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.buttonNotClicked {
  font-weight: bold;
  cursor: pointer;
  border-color: #b2a8b8;
}
.buttonNotClicked:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.lightButtonClicked {
  background-color: #fef7ff;
  color: #000000;
}
.darkButtonClicked {
  background-color: #411d62;
  color: #fee9ff;
}
.lightButtonNotClicked {
  background-color: #7d7483;
  color: #000000;
}
.darkButtonNotClicked {
  background-color: #e3b4ff;
  color: #411d62;
}
.lightChangeButton {
  background-color: #7d7483;
  color: #000000;
}
.darkChangeButton {
  background-color: #e3b4ff;
  color: #411d62;
}
