body {
  background-color: #411d62;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  color: #fee9ff;
}

.navbar_text{
  font-size: 1.5vw;
}

/* adjusted font sizes */
.adjustedTextWidgetThumbnail {
  font-size: calc(10px + 0.25vw);
}
.adjustedTextLargeWidgetThumbnail {
  font-size: calc(15px + 0.25vw);
}
.adjustedTextLargeWidgetThumbnailTitle {
  font-size: calc(25px + 0.25vw);
}
.adjustedTextLargeWidgetCardTitle {
  font-size: 2.8vw;
  margin-top: 2px;
}

.right {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 10px;
}
.rightIcon {
  float: right;
  margin: 0px 15px 15px 0px;
}

.widget_thumbnail {
  border: solid 4px #b2a8b8;
  border-radius: 20px;
  height: 300px;
  cursor: pointer;
}

.darkMain {
  background-color: #744c95;
}
.lightMain {
  background-color: #8d77a0;
}

.widget_thumbnail_content {
  margin-left: 5%;
  margin-right: 5%;
}

.chartCard {
  margin-left: 8%;
  margin-right: 8%;
  color: #fee9ff;
}

.widgetCardTitle {
  font-weight: bold;
  margin-bottom: -5px;
  margin-top: 10px;
}

.widgetCardHR {
  margin-bottom: 1%;
}

.widgetCard {
  margin-left: 10%;
  margin-right: 10%;
  border-style: groove;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 5px 5px #b2a8b8;
  border-color: #b2a8b8;
  
}

.widgetCardHomePage{
  cursor: pointer;
  margin-bottom: 2vw;
}

.widgetCardHomePage:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
}

hr.widgetTitle {
  margin-top: -50px;
  margin-left: 6%;
  margin-right: 6%;
}

.widgetTitle {
  font-weight: bold;
  text-align: center;
}

.centeredElement {
  text-align: center;
}

.leftAndRightMargins {
  margin-left: 4%;
  margin-right: 4%;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.numberOfOrders {
  float: right;
  margin-right: 10%;
}

.lightTable {
  background-color: #c6bbcf;
}
.darkTable {
  background-color: #27113b;
  color: #fee9ff;
}

.left-side{
  margin-left: 5%;
  cursor: pointer;
}