/* widget buyersReviews */
.lightOpinion {
  background-color: #c6bbcf;
}
.darkOpinion {
  background-color: #e3b4ff;
}
.opinionBox {
  border-radius: 15px;
  border: solid 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  cursor: pointer;
}
.opinionBox:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
}
.opinionUsername {
  margin-left: 3%;
  font-weight: bold;
  color: #411d62;
}
.opinionDate {
  float: right;
  margin-right: 5%;
  font-weight: bold;
  color: #411d62;
}
.opinionText {
  margin-left: 3%;
  margin-right: 3%;
  color: #000000;
}
.positive {
  color: green;
  font-weight: bold;
}
.negative {
  color: red;
  font-weight: bold;
}

/* widget orders */
.lightOrder {
  background-color: #c6bbcf;
}
.darkOrder {
  background-color: #e3b4ff;
}
.orderBox {
  border-radius: 15px;
  border: solid 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  cursor: pointer;
}
.orderBox:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
}
.orderDate {
  float: right;
  margin-right: 5%;
  font-weight: bold;
  color: #411d62;
}
.orderID {
  margin-left: 3%;
  font-weight: bold;
  color: #411d62;
}
.orderText {
  margin-left: 3%;
  margin-right: 3%;
  color: #000000;
}
.lightOrderTableColumn {
  background-color: #c6bbcf;
  color: #27113a;
  text-align: center;
}
.darkOrderTableColumn {
  background-color: #411d62;
  color: #fee9ff;
  text-align: center;
}

/* advice widget */
.lightAdvice {
  background-color: #c6bbcf;
}
.darkAdvice {
  background-color: #e3b4ff;
}
.adviceBox {
  border-radius: 15px;
  border: solid 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  cursor: pointer;
}
.adviceBox:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
}
.adviceText {
  margin-left: 3%;
  margin-right: 3%;
  color: #000000;
}

/* advice qualityOfSales */
h4.worstAspects {
  color: red;
  font-weight: bold;
}
div.worstAspects {
  color: red;
  border-radius: 15px;
  border: solid 3px;
  width: 200px;
}
